.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filter-group {
    margin: 0.5rem 0;
}

#settings-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#settings-button {
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: #96dbec;
    padding: 5px;
    border-radius: 25px;
}

#word-list {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background: #f9f9f9;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    width: 100%;
    font-size: 1rem;
}

/* Bottom Banner styles */
.bottom-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 10px 0;
}

/* Home & Help buttons */
#home-button,
#help-button {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

#settings-panel.hidden {
    display: none;
}