:host {
    --hex-side-length: calc(min(50px, 100vw / 12));
    --hex-bounding-width: calc(1.73205 * var(--hex-side-length));
    --hex-bounding-height: calc(2 * var(--hex-side-length));
    touch-action: manipulation;
}


#hex-board {
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;

    margin: 20px auto;
    position: absolute;
    bottom: 2.5rem;
    padding-bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    caret-color: transparent;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    /* Safari/iOS */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard */
    cursor: default;
}

#hex-container {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-height: calc(var(--hex-bounding-height)*1.75);
}

#letter-container {
    position: relative;
    width: 100%;
}

/* Base hex tile */
.letter {
    position: absolute;
    width: var(--hex-bounding-width);
    height: var(--hex-bounding-height);
    background: #eee;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    /* font-weight: bold; */
    font-weight: 550;
    color: #3a2616;
    user-select: none;
    transition: background 0.2s, transform 0.2s;
}

.letter.hints-anagram {
  background: #679969;
  font-style: italic;
}

.letter.hints-powerful-combination {
  background: #8d6799;
  font-style: italic;
}

.letter.enter {
    background: #4caf50;
    color: white;
}

#hex-board .letter.selected {
    pointer-events: all;
}