body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.root-container {
  background-color: rgb(215,190,160);
  border: 2px solid #333;
  border-radius: 8px;
  padding: 20px;
}


#word-grid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, 1fr);
  position: relative;  /* To allow SVG positioning */
  align-items: flex-start;
}

.grid-cell {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  color: #532915;
}

.grid-cell:hover {
  color: #2e1503;
}

.grid-cell.selected {
  color: #9a7b4f
}

/* Style for the SVG lines */
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
