html,
body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#board {
    width: 80vmin;
    height: 80vmin;
}