html,
body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    height: 100%;
    overflow: hidden;
    width: 100%;
    touch-action: none;
}

#board {
    width: 80vmin;
    height: 80vmin;
    touch-action: none;;
}